{% extends "base.html" %}

{% block title %}App Development Resources{% endblock %}

{% block content %}
<h1 class="text-light display-4" style="padding: 100px 0 20px 0">App Development</h1>
<hr style="border: 3px dashed white; margin: 0 0 70px 0">

{% comment %} paragraph 1 {% endcomment %}
<p class="text-light h4">
    App development involves creating software applications for mobile devices like smartphones and tablets. It encompasses various platforms, including iOS and Android, and utilizes programming languages and frameworks to build intuitive, user-friendly, and functional applications.</p>

<div style="padding: 50px"></div>
<p class="text-light h4">

{% comment %} paragraph 2 {% endcomment %}
<p class="text-light h3">What can you do with App Development?</p> :

<p class="text-light h4" style="padding: 50px 0 10px 0">> iOS App Development: Developing applications for Apple's iOS platform using Swift or Objective-C.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Android App Development: Creating apps for Android devices using Java or Kotlin.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Cross-Platform Development: Building apps that work on multiple platforms using frameworks like Flutter or React Native.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> UI/UX Design: Designing intuitive and visually appealing user interfaces and experiences for mobile applications.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Mobile Game Development: Creating interactive and engaging games for mobile devices.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Augmented Reality (AR) and Virtual Reality (VR) Apps: Developing applications that utilize AR and VR technologies for an immersive experience.</p>
<p class="text-light h4" style="padding: 10px 0 10px 0">> Mobile App Testing: Ensuring the functionality, usability, and performance of mobile applications through testing and quality assurance.</p>

<div style="padding: 50px"></div>

<h1 class="text-light">iOS Development Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation: <a class="text-light" href="https://developer.apple.com/documentation/">https://developer.apple.com/documentation/</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.raywenderlich.com/">Ray Wenderlich - iOS Tutorials</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.appcoda.com/">AppCoda</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>

    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.codecademy.com/learn/learn-swift">Codeacademy</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PL3d_SFOiG7_8ofjyKzX6Nl1wZehbdiZC_">Developing iOS Apps - Stanford</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>

    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.youtube.com/watch?v=KCgYDCKqato">iOS Development Course</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
    
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.youtube.com/playlist?list=PLjf6nsEcF5KM0gYh-QlaTA5ktSvk04MSK">iOS Course Lectures</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
</ul>

<div style="padding: 50px"></div>

<h1 class="text-light">Andriod Development Resources: </h1>
<hr style="border: 1px dashed white; margin: 0 0 70px 0">
<h4 class="text-light">Official Documentation (Kotlin): <a class="text-light" href="https://kotlinlang.org/docs/getting-started.html">https://kotlinlang.org/docs/getting-started.html</a></h4>

<div style="padding: 30px"></div>

<h3 class="text-light"> Reading Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://developer.android.com/kotlin/campaign/learn">Kotlin Campaign - Android</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.w3schools.com/KOTLIN/index.php">w3Schools - Kotlin</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>

    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.tutorialspoint.com/android/android_studio.htm">TutorialsPoint</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
</ul>

<div style="padding: 30px"></div>

<h3 class="text-light"> Video Materials</h3>
<ul class="list-group bg-dark">
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.youtube.com/watch?v=EExSSotojVI">Kotlin - Freecodecamp</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>

    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://www.youtube.com/watch?v=BCSlZIUj18Y">Android Development - AppDevNotes</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
    
    <li class="list-group-item bg-dark">
        <div style="display:flex; justify-content:space-between">
            <label class="form-check-label h4" for="iosCheckbox"><a class="text-light" href="https://youtu.be/aS__9RbCyHg?si=xLsc5PvxWEMhgTL1">Edureka</a></label>
            <div><input class="form-check-input h3 lg" style="width: 0.75em;height: 0.75em;" type="checkbox" value="" id="iosCheckbox"></div>
        </div>    
    </li>
</ul>


{% endblock %}
